.contactMainContainer {
	margin-top: 2rem;
	margin-bottom: 2rem;
}

.contactMainContainer__title {
	text-align: center;
}

.contactMainContainer__form {
	margin-top: 2rem;
	margin-bottom: 2rem;
}
