body {
	height: 100%;
	overflow-x: hidden;
	position: relative;
	background-color: $color-light;
	color: $color-dark;
}

/*Main content*/
.homeMainContainer {
	height: 100%;
	width: 100%;
	background: url("../images/nainoa-shizuru-NcdG9mK3PBY-unsplash.jpg"),
		$color-primary;
	background-blend-mode: multiply;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	padding: 10rem;
	@media (max-width: 600px) {
		padding: 15rem 2rem;
	}
	@media (max-width: 400px) {
		padding: 8rem 1rem;
	}
}

.homeMainContainer__logo {
	margin-bottom: 1rem;
	@include logo($color-light);
}

.homeMainContainer__subTitle {
	margin-bottom: 2rem;
}

.homeMainContainer__texts {
	width: 70%;
	float: right;
	@media (max-width: 600px) {
		width: 100%;
	}
}

@supports (display: grid) {
	.homeMainContainer {
		display: grid;
		grid-template-columns:
			10vw minmax(10rem, max-content) minmax(5rem, max-content)
			10vw;
		grid-template-rows: 20vh auto auto 40vh 10vh;
		padding: 0;
		grid-row-gap: 1rem;
	}

	.homeMainContainer__logo {
		grid-column: 2 / 3;
		grid-row: 2 / 3;
		margin-bottom: 0;
	}

	.homeMainContainer__subTitle {
		grid-column: 2 / 4;
		grid-row: 3 / 4;
		margin-bottom: 0;
	}

	.homeMainContainer__texts {
		grid-column: 3 / 4;
		grid-row: 4 / 5;
		width: 100%;
		float: none;
		@media (max-width: 500px) {
			grid-column: 2 / 4;
		}
	}
}
