.membersMainContainer {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.membersMainContainer__title {
  text-align: center;
}

.membersMainContainer__cardContainer {
  margin: 1rem 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.membersMainContainer__cardItem {
  margin: 1rem;
  flex: 3 2 20rem;
}
