/*Fonts*/
$font-family-title: "Comfortaa", cursive;

/*Colors*/
$color-primary: #818487;
$color-light: #f0eeef;
$color-dark: #272c29;
$color-highlight: #737079;

/*Bootstrap modify colors*/
$theme-colors: (
	"primary": $color-primary,
	"secondary": $color-highlight,
	"light": $color-light,
	"dark": $color-dark,
);
